<form class="" action="/gateway" method="post">
  <input type="text" name="text" value="text">
  <input type="text" name="trigger_word" value="trigger">
  <input type="submit" name="" value="">
</form>
